<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/custom.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="roundbox">
                        {{{content}}}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="roundbox">
                        <div class="btn-group-vertical">
                            {{{buttons}}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
<!--        <script src="js/jquery.min.js" type="javascript"></script>-->
<!--        <script src="js/bootstrap.min.js" type="javascript"></script>-->
    </body>
</html>